html, body, section {
    height: 98vh;
}

body {
    color: #fff;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
    font-size: 1.25rem;
    line-height: 1.2rem;
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
}

.left {
    background-image: url("mainPhoto2.jpg");
    background-size: cover;
    background-position: center;
    line-height: 11vh;
    font-family: 'Dancing Script', Palatino, Georgia, serif;
    font-size: 4vw;
    letter-spacing: 9px;
    flex: 1;
    padding: 1rem;
    text-shadow: 0 2px 2px #2b2b2b;
}

.right {
    flex: 1;
    padding: 1rem;
    color: black;
}

.right p {
    font-family: 'Crimson Text',Georgia,serif;
    text-align: justify;
    color: #5e5e5e;
}

.right a, #resume {
    display: inline-block;
    cursor: pointer;
    padding: 20px;
    font-family: 'Dancing Script', Palatino, Georgia, serif;
    color: #B03349;
    letter-spacing: 6px;
    font-weight: bold;
    font-size: 1.4rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 64px;
    height: auto;
}

.right hr {
    border: 0;
    height: 1px;
    width: 70%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0));
}

.right .links {
    display: inline;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 8px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}

.close {
    position: fixed;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 800px){
    .modal-content {
        width: 100%;
    }
}