html, body, section {
    height: 98vh;
}

body {
    color: #fff;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
    font-size: 0.85rem;
    line-height: 1.2rem;
    text-align: center;
    padding: 3rem 15rem;
}

h1 {
    color: #B03349;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

